<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.2.0" name="HEBI_Scara">
  <!-- HEBI HEBI_Scara Arm Kit -->
  <xacro:include filename="$(find hebi_description)/urdf/hebi.xacro"/>
  <xacro:arg default="world" name="hebi_base_frame"/>
  <xacro:property name="hebi_base_frame" value="$(arg hebi_base_frame)"/>
  <xacro:if value="${hebi_base_frame == 'world'}">
    <link name="$(arg hebi_base_frame)"/>
  </xacro:if>
  <joint name="$(arg hebi_base_frame)_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="$(arg hebi_base_frame)"/>
    <child link="HEBI/J1_shoulder/INPUT_INTERFACE"/>
  </joint>
  <xacro:actuator type="X8_9" name="HEBI/J1_shoulder" child="shoulder_elbow"/>
  <xacro:link type="X5" extension="0.525000" twist="0" name="shoulder_elbow" child="HEBI/J2_elbow"/>
  <xacro:actuator type="X8_9" name="HEBI/J2_elbow" child="elbow_wrist"/>
  <xacro:link type="X5" extension="0.525000" twist="0" name="elbow_wrist" child="HEBI/J3_wrist"/>
  <xacro:actuator type="X8_9" name="HEBI/J3_wrist" child="end_effector"/>
  <xacro:gripper mass="0.02" name="end_effector" type="Custom"/>
</robot>
